# Environments
.env
.venv
env/
venv/
ENV/
env.bak
env.old

# Node
node_modules/
dist/
out/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS files
.DS_Store
Thumbs.db
